<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Precio</th>
            <th>Cantidad disponible</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (movie of movies; track movie.name) {
            <tr [ngClass]="{'clearance': movie.clearance}">
            <td><img [src]="movie.image" [alt]="movie.name" class="img-thumbnail" style="width: 150px;"/></td>
            <td>{{ movie.name }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.price | currency }}</td>
            @if (movie.quantityAvailable > 0) {
                <td>{{ movie.quantityAvailable }}</td>
            }@else {
                <td><span class="badge text-bg-danger" *ngIf="movie.quantityAvailable==0">Entradas agotadas</span></td>
            }
            <td>
                <button type="button" class="btn btn-light" (click)="downQuantity(movie)">-</button>
                <input type="text" [(ngModel)]="movie.quantity" (keyup)="changeQuantity($event, movie)">
                <button type="button" class="btn btn-light" (click)="upQuantity(movie)">+</button>
            </td>
        </tr>
        } @empty {
            <tr>
                <td colspan="4">No hay películas para mostrar.</td>
            </tr>
        }
    </tbody>
</table>